* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  //Utilitarios
  h2 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  span.more {
    margin: 5rem 0;
    font-size: 1.8rem;
    cursor: pointer;
    background: linear-gradient(223.75deg, #00a3ff 4.8%, #0054c6 95.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  span.type {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    width: 9.3rem;
    height: 4.3rem;
    background: linear-gradient(223.75deg, #00a3ff 4.8%, #0054c6 95.02%);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .cardsGroup {
    gap: 3.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      gap: 1.7rem;

      width: 36.4rem;
      border: 1px solid #151b26;
      padding-bottom: 3.2rem;

      .imgArea {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .content {
        gap: 2.4rem;
        padding: 0 2.4rem;
        span.typeCard {
          background: linear-gradient(223.75deg, #00a3ff 4.8%, #0054c6 95.02%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: uppercase;
        }
        .text {
          strong.title {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 140%;
          }
          p.desc {
            padding: 1rem 0;
            color: #a3a3a3;
            font-size: 1.8rem;
            line-height: 160%;
          }
        }
      }
    }
  }
  ///////

.loadImgCover {
  background: gainsboro;
  animation: bgLoad infinite 1s alternate;
  z-index: -3;
}
html {
  font-size: 48%;
  overflow-x: hidden;
}
.grid {
  display: grid;
}
body {
  background-color: #06090f;
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  position: relative;
  overflow-x: hidden;
  .contentGlobal{
    margin-bottom: 14rem;
  }
  .contentGlobal,
  header.menu,
  footer {
    padding: 1.7rem 28rem;
  }
  header.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #06090f;
    /* black/light */

    border: 1px solid #151b26;
    backdrop-filter: blur(8px);
    .navbar {
      color: white;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        h1 {
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 3.792rem;
        }
      }

      nav {
        display: flex;
        gap: 7.9rem;
        font-size: 1.8rem;
        align-items: center;
        ul {
          display: flex;
          gap: 5.7rem;
          list-style: none;

          li {
            a {
              text-decoration: none;
              color: #fff;
              transition: all 0.3s ease;
              &.active,
              &:hover {
                scale: 0.98;
                color: #00a3ff;
                text-decoration: none;
              }
            }
          }
        }
        span.button {
          width: 100%;
          height: 100%;
          background-color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16.8rem;
          height: 4.9rem;
          background: linear-gradient(223.75deg, #00a3ff 4.8%, #0054c6 95.02%);
          border-radius: 0.4rem;
          cursor: pointer;
          transition: 0.2s ease all;
          &:hover {
            scale: 0.98;
          }
        }
      }
    }
    span.menubtn {
      display: none;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        color: #00a3ff;
      }
    }
  }
  footer {
    width: 100%;
    background: #090e18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;

    span .left {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 22px;

      color: #bbbbbb;
    }
    span.right {
      font-weight: 500;
      font-size: 1.8rem;

      line-height: 22px;
      color: #a3a3a3;
    }
  }
}

@media screen and (max-width: 1205px) {
  .contentGlobal,
  header.menu,
  footer {
    padding: 1.7rem 10rem !important;
  }
}

@media screen and (max-width: 930px) {
  .contentGlobal,
  header.menu,
  footer {
    padding: 1.7rem 5rem !important;
  }
}

@media screen and (max-width: 840px) {
  body header .navbar nav ul {
    gap: 3rem;
  }
  body header .navbar nav {
    gap: 2.9rem;
  }
}

@media screen and (max-width: 820px) {
  body header .navbar nav {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    background-color: #06090f;
    transition: transform 0.3s ease;
    span.menubtn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 3.5rem 4.2rem;
    }
    &.open {
      transform: translateX(-100vw);
    }
    ul {
      flex-direction: column;
      gap: 4.8rem;
    }
  }
  span.menubtn {
    display: flex !important;
  }
}
@media (max-width:660px){

  .cardsGroup{
    justify-content: center;
  }
  .cardsGroup .card{
    width: 100%;
    max-width: 44.5rem;
  }
}

@media screen and (max-width: 520px) {
  .contentGlobal,
  header.menu,
  footer {
    padding: 1.7rem 2rem !important;
    gap: 2rem;
  }
}

@media (max-width:480px){

  
  .cardsGroup .card .content .text strong.title {
    font-size: 2.4rem !important;
  }
  .cardsGroup .card .content .text p.desc {
    font-size: 1.6rem !important;
    line-height: 160%;
  }
}
@media screen and (min-width: 820px) {
  body header .navbar nav {
    transform: none;
    opacity: 1;
  }
}

@keyframes bgLoad {
  0% {
    background-color: gainsboro;
  }
  100% {
    background-color: rgba(220, 220, 220, 0.815);
  }
}
