main {
  display: grid;
  gap: 5rem;


  header {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    h1 {
      font-weight: 400;
      font-size: min(max(10vw, 24px), 58px);
      text-align: center;
    }
    p {
      font-size: min(max(3vw, 16px), 24px);
      text-align: center;
      color: #a3a3a3;
    }
  }
  section {
    &.firstSerction {
      width: 100%;
      height: 64.2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      div.box {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(6, 9, 15, 0.3) 53.65%, #06090f 100%);
          z-index: -1;
        }
        .boxText {
          display: grid;
          gap: 2.4rem;
          padding: 3.2rem;
          position: absolute;
          bottom: 0;

          h3.title {
            font-weight: 400;
            font-size: min(max(5vw, 2.4px), 3.2rem);

            line-height: 120%;
          }
          p.desc {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 160%;
            color: #a3a3a3;
          }
        }
        &:first-child {
          .boxText {
            h3 {
              font-size: min(max(9vw, 2.4px), 4.8rem);
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          z-index: -1;
        }
      }
      .box1 {
        grid-row: span 2;
        grid-column: 1;
      }
      .box2 {
        grid-row: 1;
        grid-column: 2;
      }
      .box3 {
        grid-row: 2;
        grid-column: 2;
      }
    }
    &.secondSection {
      gap: 4.7rem;

      
    }

    &.thirdSection {
      gap: 5.2rem;
      .cards {
        grid-template-columns: repeat(2, 1fr);

        .card {
          span.type {
            width: 10.7rem;
          }

          .lancamentoCardText {
            padding: 2.4rem 0;
            display: grid;
            gap: 3.2rem;
          }
          span.more {
            padding: 2.4rem 0;
            margin: 0;
            font-size: 2.4rem;
          }

          h3 {
            font-weight: 400;
            font-size: 4rem;
            line-height: 110%;
          }
          p {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 160%;

            color: #a3a3a3;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  main section.firstSerction {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    p {
      display: none;
    }
  }
  main section.firstSerction .box3 {
    grid-row: 3;
    grid-column: span 1;
  }

  
}
@media screen and (max-width: 480px) {
  main section.firstSerction {
    gap: 0;
    .box{

    }
  }
  main section.firstSerction div.box .boxText h3.title {
    font-size: 2rem;
  }
  main section.firstSerction div.box:first-child .boxText h3.title {
    font-size: 2.4rem !important;
  }


  main span.more {
    margin: 5rem 0;
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 660px) {
  body footer {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  main section.thirdSection .cards .card h3 {
    font-size: 2.8rem;
  }
  main section.thirdSection .cards .card p {
    font-weight: 400;
    font-size: 1.8rem;
  }
  main section.thirdSection .cards .card .lancamentoCardText {
    gap: 2.2rem;
  }
  main section.thirdSection .cards .card span.more {
    padding: 1.4rem 0;
  }
  main section.thirdSection .cards {
    gap: 4rem;
  }
  main span.type {
    font-weight: 400;
    font-size: 14px;
    width: 8rem !important;
    height: 4rem !important;
    margin-bottom: 1rem;
  }
  
  main section.firstSerction .box1 {
    grid-column: span 2;
    grid-row: 1;
  }
  main section.firstSerction .box2 {
    grid-row: 2;
    grid-column: span 1;
  }
  main section.firstSerction div.box .boxText {
    padding: 1.8rem 1.2rem;
    margin-bottom: 2rem;
  }
  main section.firstSerction div.box .boxText h3.title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 756px) {

  main span.more {
    margin: 5rem 0;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 860px) {
  main section.firstSerction div.box:first-child .boxText h3 {
    font-size: 3.2rem !important;
  }
  main section.firstSerction div.box .boxText p.desc {
    font-size: 1.8rem;
  }
  main section.firstSerction div.box .boxText {
    gap: 0.4rem;
  }

  main section.firstSerction div.box .boxText h3.title {
    font-size: 2.4rem;
  }
  main section.thirdSection .cards {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 760px) {
  main header h1 {
    max-width: 50%;
  }
}

@media screen and (max-width: 560px) {
  main header {
    min-height: 30vh;
    gap: 1.6rem;
  }
}
